/*<- Style Mobile - >*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	font-family: OpenSans;
	color: black;
}

header {
	display: flex;
	font-family: OpenSans;
	width: 100vw;
	height: 8vw;
	position: fixed;
	text-transform: uppercase;
	font-size: 1.7vw;
	background-color: #ffbf00;
	color: black;
}

/*.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vw;
	text-align: center;
	margin: 1px;
	padding: 0.2vw;
	width: 12.5%;

}*/

.menuLogo {
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuAbout {
	width: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuPrice {
	width: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuServices {
	width: 9vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuStages {
	width: 15vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuFaq {
	width: 22vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.menuContacts {
	width: 12vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuTelephone {
	width: 18vw;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.about {
	height: 40vw;
	width: 100vw;
	border: 1px solid black;
}

.price {

}

.services {

}

.stages {

}

.faq {

}

.contacts {

}

footer {

}

@media (max-width: 640px) {
	header {
		display: none;
	}
}