/*<- Style Mobile - >*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	font-family: OpenSans;
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

header {
	display: flex;
	font-family: OpenSans;
	width: 100vw;
	height: 8vw;
	/*position: fixed;*/
	text-transform: uppercase;
	font-size: 1.7vw;
	/*background-color: #ffbf00;*/
	background-color: #009B95;
	color: white;
}

/*.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vw;
	text-align: center;
	margin: 1px;
	padding: 0.2vw;
	width: 12.5%;

}*/

.menuLogo {
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuAbout {
	width: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuPrice {
	width: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuServices {
	width: 9vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuStages {
	width: 15vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuFaq {
	width: 22vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.menuContacts {
	width: 12vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuTelephone {
	width: 18vw;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vw;
	width: 100vw;
}

.content {
	display: flex;
	align-items: center;
	width: 60vw;
}

.aboutCompany {
	height: 40vw;
	width: 30vw;
	order: 2;
}

.aboutCompanyText {
	/*display: flex;*/
	/*flex-direction: row;
	align-items: center;
	justify-content: center;*/
	order: 1;
	width: 30vw;
	box-sizing: border-box;
	padding: 0.5vw;
	font-size: 0.9vw;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1D7471;
	width: 100vw;
	height: 40vw;
}

.priceCard {
	width: 20%;
	height: 80%;
	background-color: #33CDC7;
	margin: 1vw;
}

.services {

}

.stages {

}

.faq {

}

.contacts {

}

footer {

}

@media (max-width: 640px) {
	header {
		display: none;
	}
}